@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.navbar {
  display: flex;
  direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.navbar-logo {
  width: 150px;
}
.navbar-middle {
  display: flex;
  list-style: none;
  direction: column;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  direction: column;
  gap: 30px;
  align-items: center;
}
.navbar-signin {
  font-size: 16px;
  padding: 10px 30px;
  background: transparent;
  color: #49557e;
  border: 1px solid tomato;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: tomato;
  border-radius: 50%;
  position: relative;
  top: 2px;
  right: 5px;
}
.active {
  border-bottom: 3px solid blue;
}
ul Link {
  cursor: pointer;
  font-family: outfit;
}
.navbar-signin:hover {
  background-color: beige;
}
.navbar-profile {
  position: relative;
}
.nav-profile-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}
.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown img {
  width: 20px;
}
.nav-profile-dropdown li:hover {
  color: tomato;
}

@media (max-width: 1050px) {
  .navbar-logo {
    width: 140px;
  }
  .navbar-middle {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar-logo {
    width: 120px;
  }
  .navbar-middle {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 15px;
  }
  .navbar-right button {
    padding: 7px 20px;
  }
}
@media (max-width: 820px) {
  .navbar-middle {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-logo {
    align-self: flex-start;
    position: relative;
    left: 20%;
  }
}
